<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
</head>

<body style='margin-top:20;font-family:arial;line-height:10px'>
    <p>Chào {{usernameTeacher}},</p><br />
    <p>{{usernameBuyer}} vừa đăng kí khóa học "{{courseName}}"" của bạn</p><br />
    <p>Đi đến khóa học để xác nhận</p>
    <p>
        <a href='{{url}}'
            style='display:inline-block;padding:10px;background:#39ff02;text-decoration:none;color:#ffffff'>Chi tiết
            khóa học</a>
    </p>
</body>

</html>