<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=' />
</head>

<body style='margin-top:20;font-family:arial;line-height:10px'>
  <p>Chào {{userName}},</p><br />
  <p>Chúng tôi xin mời bạn tham gia khóa học "{{courseName}}" học phí {{price}}đ</p><br />
  <p>Đăng kí bằng đường link dưới đây để được giảm thêm 10% học phí</p>
  <p>Nhấp vào liên kết dưới đây để tham gia.</p>
  <p>
    <a href='{{url}}'
      style='display:inline-block;padding:10px;background:#39ff02;text-decoration:none;color:#ffffff'>Chi tiết khóa
      học</a>
  </p>
  <br />
  <p>Tài khoản của bạn đã được tạo tương ứng theo email và bạn có thể truy cập tại trang web</p>
  <br />
  <p>* Nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào, vui lòng liên hệ với nhóm hỗ trợ của chúng tôi bất kỳ lúc nào</p>
  <p>* Cảm ơn bạn</p><br />
</body>

</html>