<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=' />
</head>

<body style='margin-top:20;font-family:arial;line-height:10px'>
  <p>Chào {{sender}},</p><br />
  <p>Một học viên đã mua khóa học "{{courseName}}" từ link chia sẻ của bạn</p><br />
  <p>Bạn được hưởng hoa hồng 30% giá khóa học trên</p><br />
  <p>Truy cập vào trang web để xem chi tiết</p><br />
  <p>* Nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào, vui lòng liên hệ với nhóm hỗ trợ của chúng tôi bất kỳ lúc nào</p>
  <p>* Cảm ơn bạn</p><br />
</body>

</html>