<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>
  <body style='margin-top:20;font-family:arial;line-height:10px'>
    <p>Mã xác thực: {{password}}</p>
    <br />
    <p>Vui lòng nhập mã xác minh ở trên để đăng nhập.</p>
    <p>Mã có hiệu lực trong 10 phút sau khi được cấp. Nếu thời hạn hiệu lực đã hết, vui lòng gửi lại mã xác minh từ
      trang web.</p><br />
    <p>* Email này chỉ dùng để gửi. Chúng tôi không thể trả lời bất kỳ câu hỏi hoặc câu trả lời nào.</p>
    <p>* Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua trang web của chúng tôi.</p>
  </body>
</html>